/* Custom Properties */
:root {
    --bg-first-color: #d9d9d9;
    --bg-second-color: #C6AA33;
    --bg-select-color: #f2f2f2;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Bootstrap Styles */


.form-control {
    border: 2px solid var(--bg-second-color);
    height: 56px;
}

.form-select {
    border: 2px solid var(--bg-second-color);
    height: 56px;
    appearance: none !important;
}



.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border: 2px solid var(--bg-second-color);
}

/*My Styles*/
.dropdown-toggle--edit {
    background-color: var(--bg-second-color) !important;
    border-color: var(--bg-second-color) !important;
    border-radius: 20px;
    border: none;
    color: var(--bg-select-color);
    width: 425px;
}

.dropdown-toggle--edit:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-toggle--edit:hover {
    background-color: #FFFFFF !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: var(--bg-second-color) !important;
}

.dropdown-toggle--edit::after {
    font-size: 35px;
}

.dropdown-menu--edit {
    border: 0;
    inset: auto !important;
    bottom: 40px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 425px;
}

.dropdown-menu--edit.show {
    display: flex;
}

.container-area {
    width: 113px;
}

.input-area {
    font-size: 12px;
    top: 10px;
    left: 8px;
    width: 29px;
}

select+i.bi {
    margin-top: -39px;
    margin-right: 9px;
    padding-right: 5px;
}

.container-phone {
    width: 215px;
}

.input-phone {
    font-size: 12px;
    top: 10px;
    left: 8px;
    width: 52px;
}

.custom-file button {
    width: fit-content;
}

.btn-save {
    background-color: var(--bg-second-color) !important;
    border-color: var(--bg-second-color) !important;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: var(--bg-select-color);
    font-size: 14px;
    padding: 10px 20px;
}

.btn-save:hover,
.btn-save:active {
    background-color: #FFFFFF !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: var(--bg-second-color) !important;
}

.container-photos button {
    width: 112px;
}

.card-header {
    padding: 100px;
}

.container-btns__network:active,
.container-btns__network a:active,
.container-btns__network:focus-visible {
    border-color: transparent !important;
    outline: none !important;
}