/* Custom Properties */
:root {
  --bg-first-color: #d9d9d9;
  --bg-second-color: #C6AA33;
}

/* Reset Styles */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

/* Bootstrap Styles */

.border-warning {
  border-color: #C6AA33 !important;
}

.navbar-brand {
  width: 387px;
}

/* My Styles */

.section-modal {
  height: 60vh;
}

.container-modal {
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
  height: 247px;
  width: 815px;
}

.container-modal p,
a {
  font-family: 'Inter', sans-serif !important;
  color: var(--bg-second-color);
}

.container-logo {
  height: 110px;
}

.footer {
  background: var(--bg-second-color);
  height: 240px;
}

.network-list {
  list-style: none;
  gap: 24px;
}

.network-list li {
  height: 35px;
}

.network-list a,
.info-list a {
  color: #fff;
}

.info-list {
  margin-bottom: 80px;
}